.accordion{
    display: flex;
    flex-direction: column;
    width: 80%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 1rem;
    margin: 1rem 5rem;
    transition: .5s ease;
    margin-block: 2.5rem;
}
#no-after::after{
    display:none
    }
    #no-after{
        font-size:1.1rem;
        }
    
.accordion .trigger::after{
    content: '';
    display: inline-block;
    width: 1rem;
    height: .5rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(/assets/assets/img/arrowDown.svg);
    transform: rotate(180deg);
    transition:.25s linear;
}
ul{
 animation: 0.5s ease-in;
}


.accordion .content{
    display: none;
}
.accordion.open .content{
  transition: .5s ease;
    display: flex;
    flex-direction: column;
    padding: 0 1rem 1rem 2rem;
    height: auto;
}
#about{
    margin-top: 16px;
}
.accordion .trigger{
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: .9rem 2rem;
    color: rgb(0, 0, 0);
    border: none;   

}
@media only screen and (max-width:768px) {
    .accordion .trigger{
        padding: .7rem 2rem;
    }
}
.trigger:hover{
    background-color: #000000;
    border-radius: 0.87rem;
    cursor: pointer;
    color: white;
}    

.accordion.open,.accordion:hover{
    background-image: url(/assets/assets/img/particles.svg);
    border-color: #55569E;

   
}

 .trigger:hover{
 background-image: url(/assets/assets/img/particles.svg);   

 }
 .accordion.open .trigger::after{
   animation:  rotate .25s forwards;
 }
 .accordion .trigger::after{
    animation: rotate2 .25s linear;
 }
 .accordion .open{
  transition: .5s ease;
    box-sizing: border-box;
    box-shadow: #8438ff 0 0 6px 2px; 
       transition: .5s linear;
 }
 .dark .open{
    box-sizing: border-box;
    box-shadow: #ffe600 0 0 6px 2px; 
 }
 .accordion.open .trigger, .content{
    color: white;
 }

 .animated{
    animation-delay: 5s;
    animation: colorchange .6s forwards;
     transition: .5s ease-in forwards;
 }

 @keyframes rotate{
    from{
        transform: rotate(180deg);
    } to{
        transform: rotate(0deg);
    }
 }
 @keyframes rotate2{
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(180deg);
    }
 }

 @keyframes colorchange {
    0%{
        color: white;
    }25%{
        color: rgb(177, 158, 240);
    } 50%{
        color:rgb(172, 135, 252) ;
    }75%{
        color:rgb(148, 87, 253) ;
    } 100%{
        color: rgb(84, 50, 255);
    }
 }

.dark .header img{
    opacity: 100;
    content: url(/assets/assets/img/portflow\ \(1\).jpg);
}
.dark .animated {
    color: rgb(255, 255, 135);
    transition: .5s linear;
}
.header img{
    animation: fadeLeftToRight 4s forwards;
    opacity: 100;
    content: url(/assets/assets/img/Imagem\ do\ WhatsApp\ de\ 2024-01-13\ à\(s\)\ 13.22.28_e1a25074.jpg);
}
.dark .accordion .trigger{
    color: white;
    border: 1px solid white;
    border-radius: 1rem;
  }
  .dark .open .trigger{
    border: none;
  }
  .skills img{
    filter: drop-shadow(-1px .5px 0px rgb(255, 254, 255));
  }
  .skills {
    list-style: none;
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
   background-color: rgba(255, 255, 255, 0.147);
   backdrop-filter: blur(.4rem);
   border-radius: 1rem;
   margin-inline-start: -1rem;
   margin-block-end: 0rem;
  }
  .skills li{
    transition: .5s ease-in-out;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center; padding: 20px;
    margin-inline-start: -3rem;
    
  }
  .skills h2{
    font-weight: 350;
  }
  .skills li:nth-child(1){
    color: rgb(255, 140, 0)
  }
  .skills li:nth-child(2){
    color: rgb(52, 153, 235)
  }
  .skills li:nth-child(3){
    color: rgb(255, 208, 0)
  }
  .skills li:nth-child(4){
    color: rgb(255, 0, 0)
  }
  .skills li:nth-child(5){
    color: rgb(19, 187, 7)
  }
  .skills li:nth-child(6){
    color: rgb(85, 181, 215)
  }
  .skills li:hover{
scale:1.1; 
 }
 .CVs{
  margin-right: 3.2rem;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
 }
 .CVs li{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }
 .CVs img:hover{
  scale: 1.023;
 }
.CVs img{
  transition: .3s ease;
  margin-top: 8px;
  width: 190px;
  height: 250px;
  border-radius: .4rem;
  box-shadow: 2px 0px 4px rgb(255, 255, 255);
}
.CVs span{
  color: red;
  transition: .5s ease;
}
.CVs .downloadable:hover>span{
  color :white;
  scale: 0.9;
}
.CVs .downloadable:hover{
  background-color: rgb(255, 0, 0);
}

.CVs .downloadable{
  display: flex;    
  align-items:center;
  justify-content: center;
  text-decoration: none;
  color: none;
  width: 190px;
  border: 1px solid white;
  border-radius: .4rem;
  padding: 5px;
  margin-top: 16px;
  transition: .3s ease;
}
.CVs label{
  font-size: large;
  transition: .5s ease;
}
.CVs label{
  color: rgb(255, 255, 255);
}

@media (max-width:760px) {
  .CVs{
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .CVs img{
    transition: .3s ease;
    margin-top: 8px;
    width: 150px;
    height: 200px;
  }
  .CVs .downloadable{
    width: 150px;
  }
}