.accordion{
    display: flex;
    flex-direction: column;
    width: 80%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 1rem;
    margin: 1rem 5rem;
    transition: .25s;
}
.accordion .trigger:not(#no-after)::after{
    content: '';
    display: inline-block;
    width: 1rem;
    height: .5rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(/assets/assets/img/arrowDown.svg);
    transform: rotate(180deg);
    transition:.25s linear;
}
ul{
 animation: 0.5s ease-in;
}


.accordion .content{
    display: none;
}
.accordion.open .content{
    display: flex;
    flex-direction: column;
    padding: 0 1rem 1rem 2rem;
    height: auto;
}
#about{
    margin-top: 16px;
}
.accordion .trigger{
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: .7rem 2rem;
    color: rgb(0, 0, 0);
    border: none;   

}
.trigger:hover{
    background-color: #000000;
    border-radius: 0.87rem;
    cursor: pointer;
    color: white;
}    

.accordion.open,.accordion:hover{
    background-image: url(/assets/assets/img/particles.svg);
    border-color: #55569E;

   
}

 .trigger:hover{
 background-image: url(/assets/assets/img/particles.svg);   

 }
 .accordion.open .trigger::after{
   animation:  rotate .25s forwards;
 }
 .accordion .trigger::after{
    animation: rotate2 .25s linear;
 }
 .accordion .open{
    box-sizing: border-box;
    box-shadow: #8438ff 0 0 6px 2px; 
       transition: .5s linear;
 }
 .dark .open{
    box-sizing: border-box;
    box-shadow: #ffe600 0 0 6px 2px; 
 }
 .accordion.open .trigger, .content{
    color: white;
 }

 .animated{
    animation-delay: 5s;
    animation: colorchange .6s forwards;
     transition: .5s ease-in forwards;
 }

 @keyframes rotate{
    from{
        transform: rotate(180deg);
    } to{
        transform: rotate(0deg);
    }
 }
 @keyframes rotate2{
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(180deg);
    }
 }

 @keyframes colorchange {
    0%{
        color: white;
    }25%{
        color: rgb(177, 158, 240);
    } 50%{
        color:rgb(172, 135, 252) ;
    }75%{
        color:rgb(148, 87, 253) ;
    } 100%{
        color: rgb(84, 50, 255);
    }
 }

.dark .header img{
    opacity: 100;
    content: url(/assets/assets/img/portflow\ \(1\).jpg);
}
.dark .animated {
    color: yellow;
    transition: .5s linear;
}
.header img{
    animation: fadeLeftToRight 4s forwards;
    opacity: 100;
    content: url(/assets/assets/img/Imagem\ do\ WhatsApp\ de\ 2024-01-13\ à\(s\)\ 13.22.28_e1a25074.jpg);
}
.dark .accordion .trigger{
    color: white;
    border: 1px solid white;
    border-radius: 1rem;
  }
  .dark .open .trigger{
    border: none;
  }
  .skills img{
    transition: .5s ease-in-out;
    filter: drop-shadow(-2px 2px 4px rgb(255, 254, 255));
  }
  .skills {
    list-style: none;
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
   
  }
  .skills li{
    display: flex;
    justify-content: center;
    align-items: center; padding: 20px;
    margin-inline-start: -3rem;
  }
  .skills img:hover{
scale:1.1;  }
