.contacts{
    margin-block-start: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}
.contact-list li{
    transition: .5s ease;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-list{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    flex-direction: row;
    width: 100%;
    margin-right: 5rem;
    gap: 30px;
}
.contact-list a span::before{
    transition: .5s ease;
    content: '';
    width: 50px;
    height: 50px;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
}
.item1 span::before{
    background: url(/logo/icons8-linkedin-50.png);
}

.dark .item1 span::before{
    background: url(/logo/icons8-linkedin-50\ \(1\).png);
}
.item2 span::before{
    background: url(/logo/icons8-github-50.png);
}
.dark .item2 span::before{
    background: url(/logo/icons8-github-50\ \(2\).png);
}
.item3 span::before{
    background: url(/logo/icons8-instagram-50.png);
}
.dark .item3 span::before{
    background: url(/logo/icons8-instagram-50\ \(2\).png);
}
.item4 span::before{
    background: url(/logo/icons8-gmail-50.png);
}
.dark .item4 span::before{
    background: url(/logo/icons8-gmail-50\ \(2\).png);
}
.contact-list li:hover{
    scale: 1.1;
}
@media only screen and (max-width:615px){
    .contact-list{
        margin-left: 2.5rem;
    }
}